body,
html {
  background-color: #000;
}

main {
  position: relative;
  width: 1440px;
  height: 908px;
  width: max-content;
  height: max-content;

  background: #111111;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
}

h1 {
  position: absolute;
  width: 617px;
  height: 48px;
  left: 135px;
  top: 100px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.02em;

  color: #FFFFFF;
}

h3 {
  position: absolute;
  width: 95px;
  height: 23px;
  left: 25px;
  top: 25px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;

  color: #FFFFFF;

}

.acount {
  /* Auto layout */
  color: #FFFFFF;
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 5px;

  position: absolute;
  width: 323px;
  height: 66px;
  left: calc(50% - 323px/2 + 558.5px);
  top: 29px;

  border: 1px solid #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.menu-disciplinas {
  position: absolute;
  width: 312px;
  height: 688px;
  left: calc(50% - 312px/2 + 564px);
  top: 199px;


  background: #505050;
  border-radius: 15px;

}

.discp1 {
  position: absolute;
  width: 250px;
  height: 70px;
  left: 25px;
  top: 68px;
  background-color: #6CBD66;
  border-radius: 15px;
}

.discp {}

.menu-lateral-esq {
  position: absolute;
  align-self: baseline;
  width: 90px;
  height: 1024px;
  left: 0px;
  top: 0px;
  fill: #0D0D0D;
  background-color: #0D0D0D;
}

.cards {
  position: absolute;
  width: auto;
  height: auto;
  left: 135px;
  top: 188px;

}

.spanTitle {
  position: absolute;
  width: 111px;
  height: 38px;
  left: calc(50% - 111px/2);
  top: calc(50% - 38px/2 + 0.5px);

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 24px;
  /* or 75% */

  text-align: center;
  letter-spacing: -0.02em;

  color: #6D7D93;
}

.av {
  position: absolute;
  width: 215px;
  height: 150px;
  left: 0px;
  top: 0px;

  background: #002190;
  box-shadow: 20px 20px 40px -12px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

span {
  color: #be3a3a;

}

.criticas {
  position: absolute;
  width: 215px;
  height: 149px;
  left: 368px;
  top: 188px;
}

span.spanSubTitle {
  position: absolute;
  width: 85px;
  height: 16px;
  left: 31px;
  top: 106px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height */


  color: #6D7D93;
}

span#av {
  position: absolute;
  width: 119px;
  height: 24px;
  left: 25px;
  top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14.5px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: -0.02em;
  color: #ffffff;

}

.sugestoes {
  position: absolute;
  width: 215px;
  height: 151px;
  left: 604px;
  top: 193px;
  color: #FFFFFF;
}

.nRespondentes {
  position: absolute;
  width: 215px;
  height: 149px;
  left: 840px;
  top: 194px;
  color: #FFFFFF;
}

.areaGrafico {
  position: absolute;
  width: 920px;
  height: 458px;
  left: 135px;
  top: 436px;

}

.tituloCardGrafico {
  position: absolute;
  width: 271px;
  height: 31px;
  left: 0px;
  top: 0px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: -0.02em;

  color: #FFFFFF;
}

img#graphic {
  position: absolute;
  width: 920px;
  height: 400px;
  left: 0px;
  top: 51px;
}

.logout {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 33px;
  top: 950px;

  opacity: 0.4;
}